# Databricks broker environment
SECURITY_USER_NAME=csb-databricks-broker
SECURITY_USER_PASSWORD=CHANGEME

# Databricks workspace URL and PAT
DATABRICKS_HOST=https://adb-0000000000000000.0.azuredatabricks.net
DATABRICKS_TOKEN=CHANGEME

# Optional plan override examples:
# GSB_SERVICE_CSB_DATABRICKS_MODEL_SERVING_PLANS='[...]'